.TreeNode {

}

.li-box {
  margin-left: 10px;
}

.li-item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #56e7ff;
  }
}
